<div class="">

  <div class="erb_header">
    <h2>My App</h2>
    <h4>sample_2 - View All</h4>
  </div>

  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th><span class="glyphicon glyphicon-user"></span></th>
      <th>Col_1</th>
      <th>Col_1</th>
      <th><span class="glyphicon glyphicon-envelope"></span></th>
      <th colspan="3"><span class="glyphicon glyphicon-cog"></span> Manage</th>
    </tr>
    <!-- # Step 1/3 for will_paginate: create instance variable in controller. -->
    <!-- # Step 2/3 for will_paginate: below -->
    <% #@wp_sample_2.each do |sample_2| %>
    <tr>
      <td><%#= sample_2.id %></td>
      <td><%#= sample_2.col_1 %></td>
      <td><%#= sample_2.col_2 %></td>
      <td><%#= sample_2.col_3 %></td>

      <td>
        <button class="btn btn-default" name="commit" type="submit"><a href="/sample_2/<%= sample_2.id %>">
          <span class="glyphicon glyphicon-folder-open"></span>
        </a></button>
      </td>

      <td>
        <button class="btn btn-default" name="commit" type="submit"><a href="/sample_2/<%= sample_2.id %>/edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a></button>
      </td>

      <td><%= erb :'sample_2/_delete', layout: true, locals: { sample_2: sample_2 }%></td>
    </tr>
    <% end %>
  </table>

  <!-- # Step 3/3 for will_paginate: below -->
  <%= will_paginate @wp_contacts %>

</div>
