<h1>Create an account</h1>
<form method="post" action="/register">
   <label>First Name:</label>
   <input id="first-name-input" name="user[first_name]" type="text">
 <br>
   <label for="last-name-input">Last Name:</label>
   <input id="last-name-input" name="user[last_name]" type="text">
 <br>
   <label for="email-input">Email:</label>
   <input id="email-input" name="user[email]" type="text">
 <br>
   <label for="password-input">Password:</label>
   <input id="password-input" name="user[password]" type="password">

   <input type="submit" value="register" tabindex="3">
 </form>
