<!-- # Duplicate info from new.erb and edit.erb forms goes in this partial. -->

<div class="form-group">
  <label for="col_1" class="col-sm-2 control-label">col_1</label>
  <div class="col-sm-10">
    <input class="form-control" id="col_1" name="sample_1[col_1]" type="text" value="<%= @sample_1.col_1 %>" placeholder="col_1" />
  </div>
</div>

<div class="form-group">
  <label for="col_2" class="col-sm-2 control-label">col_2</label>
  <div class="col-sm-10">
    <input class="form-control" id="col_2" name="sample_1[col_2]" type="text" value="<%= @sample_1.col_2 %>" placeholder="col_2" />
  </div>
</div>

<div class="form-group">
  <label for="col_3" class="col-sm-2 control-label">col_3</label>
  <div class="col-sm-10">
    <input class="form-control" id="col_3" name="sample_1[col_3]" type="text" value="<%= @sample_1.col_3 %>" placeholder="col_3 name" />
  </div>
</div>
