<div class="">

  <div class="erb_header">
    <h2>MyApp</h2>
    <h4>Edit Sample_1 Form</h4>
  </div>

  <form class="form-horizontal" action="/sample_1/<%= @sample_1.id %>" method="post">

    <div class="form-group">
      <input class="form-control" name="_method" type="hidden" value="patch" />
    </div>

    <%= erb :'sample_1/_form_fields', layout: false %>

    <button class="btn btn-success" name="commit" type="submit">Update Sample_1</button>

  </form>

</div>
