<div class="">

  <div class="erb_header">
    <h2>MyApp</h2>
    <h4>Sample_1 - Show/Details</h4>
  </div>


  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th class="w-small">ID</th>
      <td><%= @sample_1.id %></td>
    </tr>

    <tr>
      <th class="w-small">col_1</th>
      <td><%= @sample_1.col_1 %></td>
    </tr>

    <tr>
      <th class="w-small">col_2</th>
      <td><%= @sample_1.col_2 %></td>
    </tr>

    <tr>
      <th class="w-small">col_3</th>
      <td><%= @sample_1.col_3 %></td>
    </tr>

  </table>



</div>
