<h1>Home Page</h1>

<div class="row">
  <div class="col-md-12">
    <h2>MyApp Home</h2>
    <h4>Hello World</h4>
  </div>
</div>


<div class="row text-center flex-container">

  <div class="col-md-4 box-med">
    <h3 class="heading">Left Box</h3>
    <p>sample text here</p>
    <p>sample text here</p>
    <p>sample text here</p>
  </div>

  <div class="col-md-4 box-med">
    <h3 class="heading">Middle Box</h3>
    <p>sample text here</p>
    <p>sample text here</p>
    <p>sample text here</p>
  </div>

  <div class="col-md-4 box-med">
    <h3 class="heading">Right Box</h3>
    <p>sample text here</p>
    <p>sample text here</p>
    <p>sample text here</p>
  </div>

</div>
